*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.Container{
    width: 100%;
    height: 100vh;

    background-image: linear-gradient(rgba(0,0,50,0.8), rgba(0,0,50,0.8)), url(wallpaper2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}

.Form-Box{
    width:90%;
    max-width: 450px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;



}

.Form-Box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color:rgb(63, 13, 109);
    position: relative;
}

.Form-Box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: rgb(63, 13, 109);
    position:absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}

.Input-Field{
    background-color: #eaeaea;
    margin: 15px 0 ;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;

}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.Input-Field i{
    margin-left: 15px;
    color:eaeaea;
}

form p{
    text-align: left;
    font-size:13px ;
}
form p a{
    text-decoration: none;
    color: rgb(63, 13, 109);
}


.Btn-Field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.Btn-Field button{
    flex-basis: 40%;
    background: rgb(63, 13, 109);
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 0.5s;
}

.Input-Group{
    height: 280px   ;
}

.Btn-Field button.Disable{
    background: #eaeaea;
    color: #555;

}

